<button routerLink ="/dashboard" class ="btn-back">Back to DashBoard</button>
<div class="detail-view" *ngIf="bowler$ | async as bowler; else notFound">
  <div class="stats-card" *ngIf="!editMode">
    <h2>{{ bowler.name }}'s Profile</h2>
    <p><strong>Status:</strong>
      <span class="status-badge" [ngClass]="bowler.status.toLowerCase()">{{ bowler.status }}</span>
    </p>
    <p><strong>Top Speed:</strong> {{ bowler.topSpeed }} km/h</p>
    <p><strong>Specialty:</strong> {{ bowler.specialty }}</p>
    <p><strong>Average Speed:</strong> {{ bowler.avgSpeed }} km/h</p>
    <p><strong>Overs Bowled:</strong> {{ bowler.oversBowled }}</p>
    <p><strong>Specialty:</strong> {{ bowler.specialty }}</p>

    <button (click)="toggleEditMode()">Edit Details</button>
    <button (click)="removeBowler(bowler.id)" class="danger-btn">Remove from Radar</button>
  </div>

  <div *ngIf="editMode" class="stats-card">
  <form [formGroup]="editForm" (ngSubmit)="saveChanges()">
    <div class="form-group">
      <label>Name:</label> 
      <input formControlName="name" type="text"/>

      <label>Status:</label>
      <select formControlName="status">
        <option value="Active">Active</option>
        <option value="Injured">Injured</option>
        <option value="Recovering">Recovering</option>
      </select>
    </div>
    <div class="form-group"> <label>Top Speed (km/h):</label> <input formControlName="topSpeed" type="number" /> </div>
     <div class="form-group">
        <label>Average Speed (km/h):</label>
        <input formControlName="avgSpeed" type="number" />
      </div>

      <div class="form-group">
        <label>Overs Bowled:</label>
        <input formControlName="oversBowled" type="number" />
      </div>

      <div class="form-group">
        <label>Specialty:</label>
        <input formControlName="specialty" type="text" />
      </div>
    <button type="submit" [disabled]="editForm.invalid">Save Changes</button>
    <button type="button" (click)="toggleEditMode()">Cancel</button>
  </form>
  </div>
  </div>
  
  



<ng-template #notFound>
  <div class="error-container">
    <p>Error: This bowler does not exist in our radar.</p>
    <button  class="btn-back" routerLink="/dashboard">Return to Dashboard</button>
  </div>
</ng-template>